@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

p {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif; }

main {
  min-height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2ebe3; }
  main .card {
    display: flex;
    background-color: white;
    border-radius: 1.25rem; }
    main .card__images {
      display: flex; }
    main .card__content {
      display: flex;
      flex-direction: column;
      padding: 2.5rem;
      gap: 1rem; }
      main .card__content__header {
        justify-content: flex-start;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        letter-spacing: 0.3rem;
        flex: 1 1 5%; }
      main .card__content__title {
        font-family: 'Fraunces', serif;
        flex: 1 1 35%;
        font-size: 3rem; }
      main .card__content__description {
        font-size: 1rem;
        line-height: 1.6;
        flex: 1 1 35%; }
      main .card__content__price {
        display: flex;
        flex-direction: row;
        gap: 1.25rem;
        align-items: center;
        flex: 1 1 5%; }
        main .card__content__price--discounted {
          color: #3c8067;
          font-family: 'Fraunces', serif;
          font-size: 2rem; }
        main .card__content__price--original {
          font-size: 1rem;
          font-family: 'Montserrat', sans-serif;
          text-align: center; }
      main .card__content__add-to-cart {
        background-color: #3c8067;
        border: 1px solid #3c8067;
        border-radius: 0.625rem;
        text-align: center;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 1rem;
        padding: 1rem;
        flex: 1 1 10%; }
        main .card__content__add-to-cart:hover {
          background-color: #235c47;
          cursor: pointer; }

@media (max-width: 700px) {
  .card {
    flex-direction: column;
    max-width: 90%;
    min-width: 350px; }
    .card__images--image {
      max-width: 100%;
      border-radius: 1.25rem 1.25rem 0rem 0rem; } }

@media (min-width: 701px) {
  .card {
    flex-direction: row;
    max-width: 800px;
    min-width: 375px; }
    .card__images--image {
      max-height: 40rem;
      border-radius: 1.25rem 0rem 0rem 1.25rem; } }
